.login{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mat-card{
    width: 400px;
}

.mat-card-header{
    display: inline;
}

.mat-form-field{
    width: 100%;
}