<h2 mat-dialog-title>Updating pokemon <span style="color: darkcyan;">
        <{{data.name}}>
    </span></h2>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="formUpdatePokemon" autocomplete="off">
        <p>
            <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input formControlName="name" matInput placeholder="Enter name">
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="outline">
                <mat-label>Experience</mat-label>
                <input type="number" formControlName="experience" matInput placeholder="Enter experience">
            </mat-form-field>
        </p>
        <!-- <label>Name</label>
        <input accept="image/png,image/jpeg" type="file" formControlName="img"> -->
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="formUpdatePokemon.value" cdkFocusInitial>Update</button>
</mat-dialog-actions>