<!-- <mat-toolbar color="primary">
    <a class="name-logo pe-3" routerLink="/">
        <img src="assets/pokemon-toolbar.png" width="30" height="30" class="me-2">
        <span class="text-white">App Pokemon</span>
    </a>
</mat-toolbar> -->

    <!-- <button mat-icon-button>
        <img src="assets/pokemon-toolbar.png" width="30" height="30" class="me-2">
    </button>
    <span class="me-4">My App</span>
    <a routerLink="pokemon/table">Pokemon Table</a>
    <a routerLink="pokemon/card">Pokemon Card</a> -->
    <nav class="navbar navbar-expand-md navbar-dark navbar-custom">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="assets/pokemon-toolbar.png" alt="" width="30" height="30">
                App Pokemon
              </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link text-white" routerLink="pokemon/table">Pokemon Table</a>
              <a class="nav-link text-white" routerLink="pokemon/card">Pokemon Card</a>
            </div>
          </div>
        </div>
      </nav>
