/* You can add global styles to this file, and also import other style files */

/* html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
 */

html {
  min-height: 100vh;
  position: relative;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin-bottom: 100px;
}

*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}